options {
    directory "/var/named";
    dump-file "/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    allow-query { any; };

    recursion yes;
};

zone "example.com" IN {
    type master;
    file "example.com";
};

zone "." IN {
    type hint;
    file "named.ca";
};
